.TodoItem {
  display: flex;
  gap: 8px;
  height: 3rem;
  background-color: var(--second-dark);
  margin-bottom: 0.5rem;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  
  transition: transform 0.2s ease-out;
}

.TodoItem:hover {
  background-color: var(--third-dark);
  transform: scale(1.01);
}

.Icon {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

.Icon-check--active {
  color: var(--yellow);
}

.TodoItem-p {
  flex: 1;
  display: flex;
  align-items: center;
  margin: 0;
}

.TodoItem-p--completed {
  text-decoration: line-through;
  text-decoration-color: var(--opacity-light);
  color: var(--opacity-light);
}

.Icon-delete {
  color: var(--opacity-light);
}

.Icon-delete:hover {
  background-color: var(--opacity-red);
  color: var(--light);
}